body{background-color: blue;
color: aquamarine;
font-size: 40px; 
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
justify-content: center;
justify-items: center;
text-align: center;

text-align: center;
}
.imagem-cabecalho{
    width: 5px ;
}